.number-container {
	display: grid;
	grid-template-columns: 75px 75px 75px;
	grid-template-rows: 75px 75px 75px 75px;
	grid-column-gap: 30px;
	grid-row-gap: 10px;
	margin-top: 10px;

	button {
		border-radius: 50%;
		background-color: #184379;
	}
	.zero-button {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 4;
		border-radius: 40px;
	}
}
